@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400&family=Roboto:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
    list-style: none;
}

body {
    min-height: 100vh;
    background-color: #3498db;
    color: #000;
    font-weight: 700;
    text-align: center;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

p{
    line-height: 1.6;
}

.Live-filter {
    width: 24rem;
    box-shadow: 0 0 1.5rem .1rem rgba(0, 0, 0, .2);
    border-radius: 1rem;
    margin: 3px 0;
    background-color: #fff;
}

.search {
    background-color: #2c3e50;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    padding: 1rem 0;
    color: #fff;
}

.search p:last-of-type {
    font-weight: lighter;
    margin: 0.4rem 0 .5rem 0;
}

.search input {
    width: 70%;
    border: none;
    padding: .5rem;
    outline: none;
    border-radius: .5rem;
}

.user-info{
    padding: 2rem;
    height: 25rem;
    overflow: auto;
}

.user-list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.user-data {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.2);
    border-radius: .5rem;
    padding: .3rem;
}

.user-data img{
    max-width: 100%;
    height: auto;
    width: 4rem;
    border-radius: 50%;
}

.user-data div{
    text-align: start;
}

.user-data p{
    text-transform: capitalize;
}

.user-data a{
    color: #2c3e50;
}
.hide {
    display: none;
}